---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  TIMEZONE: "#{ timezone }#"
  ELEVATION: "#{ elevation }#"
  LATITUDE: "#{ latitude }#"
  LONGITUDE: "#{ longitude }#"
